# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file

opencv-python-headless==4.10.0.82
pillow==10.2.0
numpy==1.26.4
pyqt5==5.15.10
cmake